body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:750px;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:750px;
  display:flex;
}
#u4875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.4470588235294118);
  line-height:21px;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:676px;
  width:69px;
  height:21px;
  display:flex;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.4470588235294118);
  line-height:21px;
}
#u4879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 40px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.4470588235294118);
  line-height:21px;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:676px;
  width:69px;
  height:21px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.4470588235294118);
  line-height:21px;
}
#u4880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 40px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.4470588235294118);
  line-height:21px;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:676px;
  width:29px;
  height:21px;
  display:flex;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.4470588235294118);
  line-height:21px;
}
#u4881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.4470588235294118);
  line-height:21px;
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:697px;
  width:96px;
  height:29px;
  display:flex;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.4470588235294118);
  line-height:21px;
}
#u4884 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 0px 4px;
  box-sizing:border-box;
  width:100%;
}
#u4884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4885 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:710px;
  width:12px;
  height:12px;
  display:flex;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.4470588235294118);
  line-height:21px;
}
#u4887 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:697px;
  width:62px;
  height:29px;
  display:flex;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.4470588235294118);
  line-height:21px;
}
#u4887 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 4px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4888 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:628px;
  width:48px;
  height:48px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u4888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:726px;
  width:24px;
  height:24px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u4889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.42745098039215684);
  line-height:22px;
}
#u4891 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:164px;
  width:337px;
  height:74px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.42745098039215684);
  line-height:22px;
}
#u4891 .text {
  position:absolute;
  align-self:flex-start;
  padding:12px 0px 40px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4891_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1890FF;
  text-align:left;
  line-height:24px;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:236px;
  width:136px;
  height:46px;
  display:flex;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1890FF;
  text-align:left;
  line-height:24px;
}
#u4893 .text {
  position:absolute;
  align-self:center;
  padding:10px 20px 10px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:236px;
  width:121px;
  height:46px;
  display:flex;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:24px;
}
#u4894 .text {
  position:absolute;
  align-self:center;
  padding:10px 20px 10px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4894_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:282px;
  width:309px;
  height:24px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u4895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.24705882352941178);
  text-align:left;
  line-height:24px;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:306px;
  width:368px;
  height:40px;
  display:flex;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.24705882352941178);
  text-align:left;
  line-height:24px;
}
#u4898 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 36px;
  box-sizing:border-box;
  width:100%;
}
#u4898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:318px;
  width:16px;
  height:16px;
  display:flex;
  font-family:"anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.24705882352941178);
}
#u4899 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:344px;
  width:368px;
  height:24px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u4900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.24705882352941178);
  text-align:left;
  line-height:24px;
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:369px;
  width:368px;
  height:40px;
  display:flex;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.24705882352941178);
  text-align:left;
  line-height:24px;
}
#u4902 .text {
  position:absolute;
  align-self:center;
  padding:5px 0px 5px 36px;
  box-sizing:border-box;
  width:100%;
}
#u4902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BFBFBF;
}
#u4903 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:381px;
  width:16px;
  height:16px;
  display:flex;
  font-family:"Anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BFBFBF;
}
#u4903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:408px;
  width:368px;
  height:24px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u4904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:437px;
  width:16px;
  height:16px;
  display:flex;
}
#u4906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u4907 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:434px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u4907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:434px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u4908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:480px;
  width:368px;
  height:40px;
  display:flex;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u4909 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:100px;
  width:38px;
  height:38px;
  display:flex;
}
#u4911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:24px;
}
#u4912 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:103px;
  width:97px;
  height:33px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:24px;
}
#u4912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
